<div class="row">
    <div class="col-lg-3 mt-1">
        <el-popover placement="top" width="400" trigger="click">
            {{> products/form/search}}
            <el-input slot="reference" placeholder="Tìm kiếm..." clearable prefix-icon="el-icon-search"
                v-model="searchProduct">
            </el-input>
        </el-popover>
    </div>
    <div class="col-lg-2 mt-1">
        <el-select class="w-100" v-model="valueOptional" clearable placeholder="Vui lòng chọn thao tác">
            <el-option v-for="item in listData.listOptional" :key="item._id" :label="item.name" :value="item._id">
            </el-option>
        </el-select>
    </div>
    <div class="col-lg-3 mt-1">
        <el-button type="success" plain @click="createOptional">Xác nhận</el-button>
    </div>
    <div class="col-lg-4 mt-1">
        <div class="btn-group dropdown-split-warning float-right">
            <button type="button" class="btn btn-warning">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Warning</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>
            </div>
        </div>
    </div>
</div>