<div class="mt-1">
    <el-checkbox v-model="showTable.showCategory">Hiển thị danh mục</el-checkbox>
    <el-checkbox v-model="checked">Hiển thị thời gian</el-checkbox>
    <el-checkbox v-model="checked">Hiển thị giá cả</el-checkbox>
    <el-checkbox v-model="checked">Hiển thị mô tả</el-checkbox>
    <el-checkbox v-model="checked">Hiển thị người dùng</el-checkbox>
</div>